<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8" />
    <title>Personal Diary</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/diary.png" />
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lobster" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/W3.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/flatpickr.css" />

    <script src="/javascripts/flatpickr.js"></script>
    <script src="/javascripts/tinymce.min.js"></script>
    <style>
        #header{
            font-family: 'Dancing Script', cursive;
            font-size: 1.3em;
        }
        .headerColor{
            background: url('/images/background.jpg');
            background-repeat: repeat;
        }
        .w3-closebtn{
            cursor: pointer !important;
        }   
        body, div, h1, h2{
            font-family: 'Lobster','Times New Roman', Times, serif, monospace !important;
            cursor: default !important;
        }
        #navBar{
            font-family: 'Lobster','Times New Roman', Times, serif, monospace !important;
            font-size: 1.3em !important;
        }
    </style>
</head>

<body onresize="setPadding()" onload="setPadding()">
<nav class="w3-top">
    <ul class="w3-navbar headerColor w3-large" id="navBar">
        <li id="header">
            <a class="w3-hover-light-blue w3-text-white w3-margin-left" href="/">
                {{#if user}}
                {{capitalizeAll user.username}}'s Diary
                {{else}}
                Personal Diary
                {{/if}}
                </a>
        </li>
        {{#if user}}
        <li class="w3-right w3-margin-right"><a class="w3-hover-light-blue w3-text-white" href="/auth/logout">Logout</a></li>
        <li class="w3-right"><a class="w3-hover-light-blue w3-text-white" href="/users/dashboard">Dashboard</a></li>
        {{else}}
        <li class="w3-right w3-margin-right"><a class="w3-hover-light-blue w3-text-white" href="/auth/register">Register</a></li>
        <li class="w3-right"><a class="w3-hover-light-blue w3-text-white" href="/auth/login">Login</a></li>
        {{/if}}
    </ul>
    <div>
        {{#if successMsg}}
        <div class="w3-container w3-green w3-padding-8 w3-xlarge">{{successMsg}}</div>
        {{/if}} {{#if errorMsg}}
        <div class="w3-container w3-red w3-padding-8 w3-xlarge">{{errorMsg}}</div>
        {{/if}} {{#if error}}
        <div class="w3-container w3-red w3-padding-8 w3-xlarge">{{error}}</div>
        {{/if}} {{#if success}}
        <div class="w3-container w3-green w3-padding-8 w3-xlarge">{{success}}</div>
        {{/if}}
    </div>
</nav>
<div class="w3-modal" id="alertModal">
    <div class="w3-modal-content w3-animate-zoom w3-card-8 w3-red">
        <div class="w3-closebtn w3-xxlarge w3-margin-right" onclick="closeModal()">&times;</div>
        <br>
        <div id="modalContent" class="w3-xlarge w3-center w3-padding-16">Some text here</div>
    </div>
</div>
<div id="containerDiv">
    {{{body}}}
</div>
<script>
    var container = document.getElementById('containerDiv');
    var navBar = document.getElementsByClassName('w3-top')[0];
    function setPadding() {
        var height = navBar.offsetHeight;
        container.style.paddingTop = height + "px";
    }

    function closeModal(){
        document.getElementById('alertModal').style.display = "none";
    }

    window.onclick = function(event){
        if(event.target.id === "alertModal")
            document.getElementById('alertModal').style.display = "none";
    }
</script>
</body>

</html>