<style>
    .rightPane{
        background: url('/images/diary_1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 15%;
        height: 80vh;
    }
    .transparent{
        background: transparent;
    }
</style>
<nav class="w3-sidenav w3-purple w3-card-8" id="leftPane" style="width: 15%">
    <a href="/users/editor" class="w3-center w3-xlarge">Open Editor</a>
    {{#each user.documents}}
    <a href="/users/{{hash}}">{{title}}</a>
    {{/each}}
</nav>

{{#if docObj}}
<div style="margin-left: 15%; padding-left: 30px">
    <div class="w3-xlarge">
        <div class="w3-text-blue w3-center w3-xxlarge">{{docObj.title}}</div>
        <br> 
        <div class="w3-text-green w3-right w3-margin-right w3-padding-16">{{docObj.date}}</div>
    </div>
    <br> 
    <div class="w3-container w3-xlarge w3-sand" id="userContent" style="margin-top: 40px">
        {{unescapeContent docObj.content}}
    </div>
</div>
{{else if editor}}
<div class="rightPane">
    <div class="w3-container">
        <form id="textEditorHolder" class="w3-card-8 w3-margin-top w3-center" method="POST" action="/users/save">
            <div class="w3-panel" style="text-align: left">
                <div class="w3-half">
                    <label class="w3-label w3-xlarge w3-center w3-text-cyan">Title: </label>
                    <input type="text" class="w3-input w3-large w3-center w3-text-amber transparent" placeholder="Title" required name="title">
                </div>
                <div class="w3-half">
                    <label class="w3-label w3-xlarge w3-center w3-text-cyan">Date: </label>
                    <input type="text" class="flatpickr w3-input w3-large w3-center w3-text-amber transparent" placeholder="Date" required name="date">
                </div>
                <input type="text" class="w3-hide" id="userText" name="userText"/>
            </div>
            <textarea id="editor"></textarea>
            <button class="w3-btn w3-margin-top w3-margin-bottom w3-border w3-border-red w3-round-large w3-text-amber transparent" onclick="saveText()">
                Submit Page
            </button>
        </form>
    </div>
</div>
{{else}}
<div class="rightPane">
    <div id="contentArea">
        <div class="w3-card-8 w3-xlarge w3-center w3-margin-top w3-padding-24" id="noElements">
            No Items To Display Now.
            <br> <br>
            <a class="w3-btn w3-red w3-hover-green w3-round-large w3-xlarge w3-border w3-ripple" href="/users/editor">
                    Click Here to Create a New Page
            </a>
        </div>
    </div>
</div>
{{/if}}
<script>
    var noDisplay = document.getElementById('noElements');

    var dateInput = document.getElementsByName('date')[0];
    var date = new Date();
    if(dateInput)
        dateInput.value = date.getFullYear() + "-" + date.getMonth() + "-" + date.getDate();

    flatpickr('.flatpickr');
</script>
<script>
    var userText = document.getElementById('userText');
    var editor = document.getElementById('textEditorHolder');
    var iFrame = null;
    tinymce.init({
        selector: '#editor',
        theme: 'modern',
        plugins: ['image textcolor spellchecker insertdatetime'],
        toolbar: 'undo redo | bold italic | alignleft aligncenter alignright alignjustify | link image | bullist numlist outdent indent | emoticons',
        setup: function (editor) {
            editor.on('init', function (e) {
            iFrame = document.getElementById('editor_ifr');
            iFrame = iFrame.contentWindow || iFrame.contentDocument;
            });
        }
    });
    function saveText(event){
        var document = iFrame.document.body.innerHTML;
        document = encodeURI(document);
        userText.value = document;
        console.log(document);
        editor.submit();
    }
</script>
<script>
    if(document.getElementById('userContent'))
        document.getElementById('userContent').innerHTML = document.getElementById('userContent').innerText;
</script>