<style>
    .rightPane{
        background: url('/images/diary_1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 15%;
    }
    .transparent{
        background: transparent;
    }
    code{
        line-height: 1.4;
        width: auto;
        background-color: #fff;
        padding: 8px 12px;
        border-left: 4px solid #4CAF50;
        word-wrap: break-word;
    }
    .changePadding{
        padding-left: 8px;
        cursor: pointer !important;
    }
</style>
<nav class="w3-sidenav w3-collapse w3-animate-left headerColor w3-card-8" id="leftPane" style="width: 15%">
    <a href="javascript:void(0)" onclick="closeNav()" class="w3-closenav w3-large w3-hide-large">Close</a>
    <a href="/users/editor" class="w3-center w3-xlarge w3-hover-light-blue w3-text-white">Open Editor</a>
    {{#each user.documents}}
    <a href="/users/{{hash}}" class="w3-hover-light-blue w3-text-white">{{title}}</a>
    {{/each}}
</nav>

{{#if docObj}}
<div style="padding-left: 30px; padding-right: 30px; overflow: auto" class="rightPane w3-main">
    <div class="w3-xlarge">
        <div class="w3-opennav w3-text-white w3-xlarge w3-hide-large changePadding w3-padding-8" onclick="openNav()">&#9776;</div>
        <form method="POST" id="changePost" class="w3-container" action="/users/">
            <input type="text" value="{{docObj.hash}}" name="docHash" class="w3-hide" />
            <img src="/images/trash.png" class="w3-right w3-padding-8" height="50px" style="cursor: pointer;margin-left: 10px" onclick="deletePost()"/>
            <img src="/images/edit.png" class="w3-right w3-padding-8" height="50px" style="cursor: pointer" onclick="editPost()"/>
        </form>
        <div class="w3-text-light-blue w3-center w3-xxlarge">{{docObj.title}}</div>
        <div class="w3-text-indigo w3-right w3-margin-right w3-padding-16">{{displayDate docObj.date}}</div>
    </div>
    <br> 
    <div class="w3-container w3-xlarge w3-sand" id="userContent" style="margin: 40px 0">
        {{unescapeContent docObj.content}}
    </div>
</div>
{{else if editor}}
<div class="rightPane w3-main">
    <div class="w3-container">
        <div class="w3-opennav w3-text-white w3-xlarge w3-hide-large changePadding w3-padding-8" onclick="openNav()">&#9776;</div>
        <form id="textEditorHolder" class="w3-card-8 w3-margin-top w3-center" method="POST" action="/users/save">
            {{#if content}}
            <div class="w3-panel">
                <div class="w3-text-blue w3-center w3-xxlarge">{{title}}</div>
                <div class="w3-text-green w3-right w3-margin-right w3-padding-16 w3-xlarge">{{displayDate date}}</div>
                <input class="w3-hide" value="{{docHash}}" name="docHash" type="text" />
            </div>
            <textarea class="editor">{{unescapeContent content}}</textarea>
            {{else}}
            <div class="w3-panel" style="text-align: left">
                <div class="w3-half">
                    <label class="w3-label w3-xlarge w3-center w3-text-cyan">Title: </label>
                    <input type="text" class="w3-input w3-large w3-center w3-text-amber transparent" placeholder="Title (Cannot be modified later)" name="title">
                </div>
                <div class="w3-half">
                    <label class="w3-label w3-xlarge w3-center w3-text-cyan">Date: </label>
                    <input type="text" class="flatpickr w3-input w3-large w3-center w3-text-amber transparent" placeholder="Date (Cannot be modified later)" name="date">
                </div>
            </div>
            <textarea class="editor"></textarea>
            {{/if}}
            <input type="text" class="w3-hide" id="userText" name="userText"/>
            <div class="w3-btn w3-margin-top w3-margin-bottom w3-border w3-border-red w3-round-large w3-text-amber transparent" style="cursor: pointer !important" onclick="saveText()">
                Submit Page
            </div>
        </form>
    </div>
</div>
{{else}}
<div class="rightPane w3-main">
    <div id="contentArea">
        <div class="w3-opennav w3-text-white w3-xlarge w3-hide-large changePadding w3-padding-8" onclick="openNav()">&#9776;</div>
        <div class="w3-card-8 w3-xlarge w3-center w3-padding-24" id="noElements">
            No Items To Display Now.
            <br> <br>
            <a class="w3-btn w3-red w3-hover-green w3-round-large w3-xlarge w3-border w3-ripple" href="/users/editor">
                    Click Here to Create a New Page
            </a>
        </div>
    </div>
</div>
{{/if}}
<script>
    var noDisplay = document.getElementById('noElements');

    var dateInput = document.getElementsByName('date')[0];
    var date = new Date();
    if(dateInput)
        dateInput.value = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();

    flatpickr('.flatpickr');
</script>
<script>
    
    if(document.getElementsByClassName('editor')[0])
        document.getElementsByClassName('editor')[0].innerHTML = document.getElementsByClassName('editor')[0].value;

    var userText = document.getElementById('userText');
    var editor = document.getElementById('textEditorHolder');
    var iFrame = null;
    tinymce.init({
        selector: '.editor',
        theme: 'modern',
        plugins: ['image textcolor spellchecker insertdatetime charmap code media table searchreplace link emoticons colorpicker textcolor'],
        toolbar: 'undo redo | bold italic | alignleft aligncenter alignright alignjustify | link image | bullist numlist outdent indent | emoticons',
        setup: function (editor) {
            editor.on('init', function (e) {
            iFrame = document.getElementById('mce_0_ifr');
            iFrame = iFrame.contentWindow || iFrame.contentDocument;
            });
        },
        default_link_target: "_blank"
    });
    function saveText(event){
        var userDoc = iFrame.document.body.innerHTML;
        userDoc = encodeURI(userDoc);
        userText.value = userDoc;
        var modalContent = document.getElementById('modalContent');
        var modal = document.getElementById('alertModal');

        if(document.getElementsByName('title')[0]){
            
            if(document.getElementsByName('title')[0].value === "" && document.getElementsByName('date')[0].value == ""){
                modalContent.innerHTML = "Please fill out the Title field <br> Please fill out the Date field";
                modal.style.display = "block";
            }
            else if(document.getElementsByName('title')[0].value === ""){
                modalContent.innerHTML = "Please fill out the Title field";
                modal.style.display = "block";
            }
            else if(document.getElementsByName('date')[0].value === ""){
                modalContent.innerHTML = "Please fill out the Date field";
                modal.style.display = "block";
            }
            else
                editor.submit();
        }
        else{
            editor.submit();
        }
    }
</script>
<script>
    function deletePost(){
        document.getElementById('changePost').action += 'delete';
        document.getElementById('changePost').submit();
    }
    function editPost(){
        document.getElementById('changePost').action += 'modify';
        console.log(document.getElementById('changePost').action);
        document.getElementById('changePost').submit();
    }
</script>
<script>
    if(document.getElementById('userContent'))
        document.getElementById('userContent').innerHTML = document.getElementById('userContent').innerText;

    function openNav(){
        document.getElementById('leftPane').style.display = "block";
    }
    function closeNav(){
        document.getElementById('leftPane').style.display = "none";
    }
</script>